@(gebruikers: Seq[Gebruiker], huishoudens: Seq[Huishouden])

@main("Registreer voor je huishouden") {
<div>
  <div>
    <h2>Huishoudens</h2>
    <table>
      <tr><th>Huishouden</th><th>Huisnummer</th><th>Grootte</th></tr>
      @for(huishouden <- huishoudens){
        <tr><td>@huishouden.postcode</td><td>@huishouden.huisnummer</td><td>@huishouden.grootte</td></tr>
      }
    </table>
  </div>

  <div>
    <h2>Registreer</h2>

    <form action="/registreer/gebruiker" method="POST">
      <input name="voornaam" type="text" placeholder="Voornaam"/>
      <input name="achternaam" type="text" placeholder="Achternaam"/>
      <input name="email" type="email" placeholder="E-mail"/>
      <input name="telefoonnummer" type="text" placeholder="Telefoonnummer"/>
      <input type="submit"/>
    </form>

    <h2>Gebruikers aanwezig</h2>
    <table>
      <tr><th>Naam</th><th>E-mail</th><th>Telefoonnummer</th></tr>
      @for(gebruiker <- gebruikers){
        <tr><td>@gebruiker.voornaam @gebruiker.achternaam</td><td>@gebruiker.email</td><td>@gebruiker.telefoonnummer</td></tr>
      }
    </table>
  </div>
</div>
}
